---
import Layout from '../../layouts/Layout.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
    const posts = await getCollection('posts')
    return posts.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }))
}

const allPosts = await getCollection('posts')
---

<Layout title="post">
    <ul>
        {
            allPosts.map((post) => (
                <li>
                    <a
                        href={`/posts/${post.slug}/`}
                        title={post.data.title}
                    >
                        {post.data.title}
                    </a>
                </li>
            ))
        }
    </ul>
</Layout>
