---
import { getYouTubeVideos } from '../utils/youtube'
import Layout from '../layouts/Layout.astro'
import SectionContainer from '@/layouts/SectionContainer.astro'
import Card from '@/components/Card.astro'

const videos = await getYouTubeVideos()
---

<Layout title="Constant State YouTube Videos">
    <SectionContainer>
        {videos.length > 0 ? (
            <ul class="video-list">
            {
                videos.map((video) => (
                    <Card
                        href={`/podcast/${video.id.videoId}`}
                        lines={4}
                        title={video.snippet.title}
                        body={video.snippet.description}
                        badge={`${new Date(video.snippet.publishedAt).toLocaleDateString()}`}
                        transitionName={`podcast-${video.id.videoId}`}
                    />
                ))
            }
        </ul>
        ) : (
            <div class="cs-gif-container">
                <h1>No videos found</h1>
                <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExMmlpcWFncGY4cnh3NTZia2hnbDJ5OGcyOGFyMWFrbmc1NmRwYTVsOCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/fVKa6eR7g1Ri113f8p/giphy.gif" alt="Rocket Ship Taking Off" class="rocket-gif" />
            </div>
        )}
    </SectionContainer>
</Layout>

<style>

    ul {
        display: grid;
        grid-auto-flow: row;
        gap: 2rem;
        padding-inline: 0;
        padding-block: var(--size-fluid-6);
        width: 100%;
        max-width: 100%;
    }

    .cs-gif-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding-block: var(--size-fluid-6);
    }

</style>
