---
import SectionContainer from '../layouts/SectionContainer.astro'
---

<style lang="scss">
    .cs-navigation {
        position: sticky;
        top: 0;
        padding-block: var(--size-fluid-2);
        background-color: var(--surface-10-dark);
        box-shadow: 0 -0.0125rem 0.5rem 0.0125rem var(--surface-1-dark);
        z-index: var(--layer-5);

        &.mini {
            top: 0;
            transform: translate3d(0, -90%, 0);
        }

        .main-nav {
            ul {
                position: relative;
                display: flex;
                column-gap: var(--size-6);
                padding: 0;
                z-index: var(--layer-5);
            }
        }

        .nav-item {
            list-style: none;
            padding: 0;

            a {
                color: var(--brand-secondary);
                font-size: var(--size-fluid-2);
                transition: var(--ease-in-2);
                text-decoration: none;

                &:hover {
                    color: var(--surface-1-dark);
                }
            }
        }
    }

</style>

<script>
    let lastScrollPosition = 0

    const handleScroll = () => {
        const nav = document.querySelector('.cs-navigation') as HTMLElement
        const navHeight = nav.offsetHeight
        const scrollPosition = window.scrollY

        if (scrollPosition < lastScrollPosition) {
            nav.classList.remove('mini')
        } else if (scrollPosition <= navHeight / 2) {
            nav.classList.remove('mini')
        } else {
            nav.classList.add('mini')
        }

        lastScrollPosition = scrollPosition
    }
    window.addEventListener('scroll', handleScroll)
</script>

<header class="cs-navigation">
    <SectionContainer>
        <div class="brand"></div>
        <nav class="main-nav">
            <ul>
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="/podcast">Podcast</a></li>
                <li class="nav-item"><a href="/blog">Blog</a></li>
            </ul>
        </nav>
    </SectionContainer>
</header>
