---
import SectionContainer from '../layouts/SectionContainer.astro'
import { Image } from 'astro:assets'
---

<header class="cs-navigation">
    <SectionContainer>
        <div class="cs-logo-and-tagline">
            <div class="cs-logo">
                <a href="/">
                    <Image
                        src={import.meta.env.BASE_URL + 'constant-state-logo.jpg'}
                        alt="Logo"
                        width={224}
                        height={224}
                    />
                </a>
            </div>
            <div class="cs-short-tagline">
                <p>
                    A podcast about the future of technology, work, ai, and the state of constant
                    learning. Please <a
                        class="cs-link"
                        href="https://www.youtube.com/@const_state"
                        >subscribe and share with your friends</a
                    >. Check out our <a
                        class="cs-blogs-link"
                        href="/blog"
                        >blogs here</a
                    >
                </p>
            </div>
            <div class="cs-callout"></div>
        </div>
    </SectionContainer>
</header>

<style lang="scss">
    .cs-navigation {
        padding-block: var(--size-fluid-2);
        background-color: var(--surface-10-dark);
        box-shadow: 0 -0.0125rem 0.5rem 0.0125rem var(--surface-5-dark);
        z-index: var(--layer-5);

        .cs-logo-and-tagline {
            display: grid;
            grid-auto-flow: row;
            gap: 1rem;

            @media (--md-n-above) {
                grid-auto-flow: column;
                gap: 2rem;
                align-items: center;
            }
        }

        .cs-logo {
            width: 7rem;
            margin-inline: auto;
            transition: var(--ease-in-2);
            transition-property: opacity, transform;

            @media (--md-n-above) {
                width: 14rem;
            }

            :hover {
                transform: rotate3d(0, 1, 0, 180deg);
            }
        }

        .cs-short-tagline p {
            max-width: 100%;
            font-size: var(--size-fluid-2);
            color: var(--brand-secondary);
        }

        .cs-link,
        .cs-blogs-link {
            color: var(--brand-primary);
            text-decoration: underline;
            text-decoration-color: var(--surface-1-dark);
            transition: var(--ease-in-2);
            transition-property: color, text-decoration-color;

            &:hover {
                color: var(--brand-primary);
                text-decoration-color: var(--brand-secondary);
            }
            transition-property: color, text-decoration-color;
        }
    }
</style>
