---
import Layout from '../../layouts/Layout.astro'
import { getCollection } from 'astro:content'
import SectionContainer from '../../layouts/SectionContainer.astro'

export async function getStaticPaths() {
    const podCasts = await getCollection('podcasts')
    return podCasts.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }))
}

const allPodcasts = await getCollection('podcasts')
---

<style>
.cs-allpost {
padding: 0;
list-style: none;
}
</style>
<Layout title="podcast">
    <SectionContainer>
<ul class="cs-allpost">
        {
            allPodcasts.map((podcast) => (
                <li class="cs-post-item">
                    <a
                        href={`/podcast/${podcast.slug}/`}
                        title={podcast.data.title}
                        aria-label={podcast.data.title}
                    >
                    <img
                        src=`https://img.youtube.com/vi/${podcast.data.thumbnail}/hqdefault.jpg`
                        alt=""
                    />
                    </a>
                </li>
            ))
        }
    </ul>
    </SectionContainer>
    
</Layout>
