---
interface Props {
    title: string
}

import { ViewTransitions } from 'astro:transitions'
import 'open-props/normalize.min.css'
import 'open-props/colors-hsl.min.css'
import 'open-props/gradients.min.css'
import 'open-props/colors.shadow.min.css'

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Astro description"
        />
        <meta
            name="viewport"
            content="width=device-width"
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/favicon.svg"
        />
        <meta
            name="generator"
            content={Astro.generator}
        />

        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body>
        <style is:global lang="scss">
            :root {
                --brand-primary: hsl(318.73deg 100% 69.22%);
                --brand-secondary: hsl(210.32deg 97.89% 81.37%);

                --text-dark: hsl(var(--gray-2-hsl) / 90%);

                --surface-1-dark: hsl(271.34deg 84.81% 15.49%);
                --surface-2-dark: hsl(261.43deg 67.74% 12.16%);
                --surface-1-gradient: var(--gradient-5);
            }

            html {
                block-size: 100%;
                background-color: var(--surface-2-dark);
                color: var(--text-dark);
                font-size: var(--font-size-2);
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: var(--brand-primary);
            }

            :where(h1) {
                font-size: var(--font-size-fluid-3);
            }
            :where(h2) {
                font-size: var(--font-size-fluid-2);
            }

            // Container styles
            .full-width {
                width: 100%;
                max-width: 100%;
            }
        </style>
        <slot />
    </body>
</html>
