---
interface Props {
    title: string
}

import { ViewTransitions } from 'astro:transitions'
import 'open-props/normalize.min.css'
import 'open-props/colors-hsl.min.css'
import 'open-props/colors.shadow.min.css'

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Astro description"
        />
        <meta
            name="viewport"
            content="width=device-width"
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/favicon.svg"
        />
        <meta
            name="generator"
            content={Astro.generator}
        />

        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body>
        <style is:global lang="scss">
            html {
                block-size: 100%;
                background-color: hsl(var(--gray-10-hsl) / 90%);
                color: hsl(var(--gray-2-hsl) / 90%);
                font-size: var(--font-size-2);
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: hsl(var(--pink-6-hsl) / 85%);
            }

            :where(h1) {
                font-size: var(--font-size-fluid-3);
            }
            :where(h2) {
                font-size: var(--font-size-fluid-2);
            }

            // Container styles
            .full-width {
                width: 100%;
                max-width: 100%;
            }
        </style>
        <slot />
    </body>
</html>
