---
interface Props {
    title: string
}

import { ViewTransitions } from 'astro:transitions'
import 'open-props/normalize.min.css'
import 'open-props/colors-hsl.min.css'
import 'open-props/gradients.min.css'
import 'open-props/colors.shadow.min.css'

import Footer from '../components/Footer.astro'
import Navigation from '../components/Navigation.astro'

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Astro description"
        />
        <meta
            name="viewport"
            content="width=device-width"
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/favicon.svg"
        />
        <meta
            name="generator"
            content={Astro.generator}
        />

        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body>
        <style is:global lang="scss">
            :root {
                // brand colors
                --brand-primary: hsl(318.73deg 100% 69.22%);
                --brand-secondary: hsl(210.32deg 97.89% 81.37%);

                --text-dark: hsl(var(--gray-2-hsl) / 90%);

                // surface colors - background-color
                --surface-1-dark: hsl(304.09deg 36.97% 53.33%);
                --surface-2-dark: hsl(294.62deg 33.62% 45.49%);
                --surface-3-dark: hsl(271.34deg 84.81% 15.49%);
                --surface-4-dark: hsl(261.43deg 67.74% 12.16%);
                --surface-5-dark: hsl(258.14deg 41.75% 20.2%);
                --surface-6-dark: hsl(253.71deg 42.17% 16.27%);
                --surface-8-dark: HSL(0, 0%, 20%);
                --surface-9-dark: HSL(0, 0%, 6.67%);
                --surface-10-dark: HSL(0, 0%, 0%);

                --surface-1-gradient: var(--gradient-5);
            }

            html {
                block-size: 100%;
                background-color: var(--surface-9-dark);
                color: var(--text-dark);
                font-size: var(--font-size-2);
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                background: linear-gradient(to right, var(--brand-secondary), var(--brand-primary));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            :where(h1) {
                font-size: var(--font-size-fluid-3);
            }
            :where(h2) {
                font-size: var(--font-size-fluid-2);
            }

            // Container styles
            .full-width {
                width: 100%;
                max-width: 100%;
            }
        </style>
        <Navigation />
        <slot />
        <Footer />
    </body>
</html>
