<style>
    .container {
        display: flex;
        width: 100%;
        max-width: 100%;
        margin-inline: auto;
        padding-inline: var(--size-4);

        @media (--md-n-above) {
            max-width: 800px;
        }
        @media (--lg-n-above) {
            max-width: 800px;
        }

        @media (--lg-n-above) {
            max-width: 1000px;
        }
    }
</style>
<section class="container">
    <slot />
</section>
